/* --- BARRE DE RECHERCHE (Existant) --- */
.search-container {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 1px solid rgba(0,0,0,0.05);
}
.search-container:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    border-color: var(--primary-custom);
}
.search-container input {
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.input-group-text {
    background: white;
}

/* --- NOUVEAU : PAGINATION --- */
.page-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dee2e6;
    color: #333;
    cursor: pointer;
    transition: all 0.2s;
}

.page-link:hover {
    background-color: #f8f9fa;
    color: #000;
}

.page-link:focus {
    box-shadow: none;
}

/* Page Active */
.bg-primary {
    background-color: #137fec !important; /* Votre bleu principal */
    border-color: #137fec !important;
}

.disabled .page-link {
    background-color: #f8f9fa;
    color: #ccc;
    cursor: not-allowed;
    border-color: #dee2e6;
}